Repository mbd2001/road-dashboards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

deploy:docker:data-exploration:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: road-data-exploration
    DOCKERFILE_NAME: ./docker/Dockerfile.data-exploration
  script:
  - task docker:build_and_push

deploy:docker:eval-dashboard:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: road-eval-dashboard
    DOCKERFILE_NAME: ./docker/Dockerfile.eval-dashboard
  script:
  - task docker:build_and_push

deploy:docker:workflows-dashboard:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: workflows-dashboard
    DOCKERFILE_NAME: ./docker/Dockerfile.workflows-dashboard
  script:
  - task docker:build_and_push

post:reload-data-exploration:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Data Exploration container."
  ...

post:reload-eval-dashboard:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Dynamic Stats container."
  ...

post:reload-workflows-dashboard:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Workflows container."
  ...

Quick fix
  .gitlab-ci.yml
  docker/Dockerfile.data-exploration
  docker/Dockerfile.eval-dashboard
  docker/Dockerfile.workflows-dashboard
  rattler.recipe/recipe.yaml
  road_dashboards/road_dump_dashboard/requirements.txt
  road_dashboards/road_eval_dashboard/requirements.txt
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.25
  road_dashboards/__about__.py
Due: none

Quick fix
  .gitlab-ci.yml
Due: none

Version bump to 0.2.26
  road_dashboards/__about__.py
Due: none

Restore to allow counting multiple times
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_pie.py
  road_dashboards/road_dump_dashboard/pages/scenes_distribution.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Allow multiple objects per scene count
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_pie.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
  road_dashboards/road_dump_dashboard/pages/scenes_distribution.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Remove unused requirements
  rattler.recipe/recipe.yaml
  road_dashboards/road_dump_dashboard/requirements.txt
Due: deploy:docker:data-exploration, post:reload-data-exploration

Remove column
  road_dashboards/road_dump_dashboard/table_schemes/meta_data.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

split acc / ool generate-query method
  road_dashboards/road_eval_dashboard/components/net_properties.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

added closer boundary side to extracted table
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

added out-of-lane accuracy (host / non-host) figures to positional tab
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

updated events extractor code to support also out-of-lane metric
  road_dashboards/road_eval_dashboard/components/net_properties.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

added road-edge OOL with different threshold + edited hover text of OOL figures
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/net_properties.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/graphs/path_net_line_graph.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

small fix
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

added an option to extract only road-edges OOL events + user configurable OOL thresholds in events extractor
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

python format
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

changed components names
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

change OOL sliders min-max values
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

CR changes
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.27
  road_dashboards/__about__.py
Due: none

Fix lm graphs
  road_dashboards/road_dump_dashboard/graphical_components/frame_drawer.py
  road_dashboards/road_dump_dashboard/pages/lane_marks.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Move narrow queries out of query_abstractions.py + split complex queries into meaningful funcitons
  road_dashboards/road_dump_dashboard/graphical_components/histogram_plot.py
  road_dashboards/road_dump_dashboard/graphical_components/line_graph.py
  road_dashboards/road_dump_dashboard/graphical_components/pie_chart.py
  road_dashboards/road_dump_dashboard/logical_components/constants/query_abstractions.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/conf_mat_graph.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/count_graph.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/frames_modal.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/jump_modal.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/obj_count_graph.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

chosen_dump -> chosen_dataset
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/countries_heatmap.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/objs_count_card.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_pie.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/workflow_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Created a new dashboard that shows for all the workflows the count of clips that succeded. also improved the export section to allow filtering by status and exit code / job id if exists
  road_dashboards/workflows_dashboard/components/charts/charts_container.py
  road_dashboards/workflows_dashboard/components/charts/workflow_success_count.py
  road_dashboards/workflows_dashboard/components/main_content/layout.py
  road_dashboards/workflows_dashboard/components/selectors/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/__init__.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
  road_dashboards/workflows_dashboard/components/selectors/workflow_selector.py
  road_dashboards/workflows_dashboard/core_settings/constants.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

pyfix
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Add panoptic workflow, make the statuses filtering more dynamic at the export sections
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/core_settings/constants.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Fix missing countries bug
  road_dashboards/road_dump_dashboard/graphical_components/countries_map.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/objs_count_card.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Add typing
  road_dashboards/road_dump_dashboard/graphical_components/confusion_matrix.py
  road_dashboards/road_dump_dashboard/graphical_components/countries_map.py
  road_dashboards/road_dump_dashboard/graphical_components/histogram_plot.py
  road_dashboards/road_dump_dashboard/graphical_components/line_graph.py
  road_dashboards/road_dump_dashboard/graphical_components/pie_chart.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Simplify regex
  road_dashboards/road_dump_dashboard/graphical_components/countries_map.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Baseline required_objects
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Fix names
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Fix definition of road_type
  road_dashboards/road_dump_dashboard/table_schemes/meta_data.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

More typing
  road_dashboards/road_dump_dashboard/logical_components/constants/layout_wrappers.py
  road_dashboards/road_dump_dashboard/logical_components/multi_page_objects/dcc_stores.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Add docs
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Changes according to CR
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_pie.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Add md graphs
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
  road_dashboards/road_dump_dashboard/pages/meta_data.py
  road_dashboards/road_dump_dashboard/table_schemes/meta_data.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Fix divide by 0
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

improve structure of workflow_manager and add refresh mechanism
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Changes according to CR
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/frames_modal.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/jump_modal.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Remove unused scenes
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_table.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Path conditions:
  deploy:docker:data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  deploy:docker:eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  deploy:docker:workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
  post:reload-data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  post:reload-eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  post:reload-workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
