Repository mbd2001/road-dashboards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

deploy:docker:data-exploration:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: road-data-exploration
    DOCKERFILE_NAME: ./docker/Dockerfile.data-exploration
  script:
  - task docker:build_and_push

deploy:docker:eval-dashboard:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: road-eval-dashboard
    DOCKERFILE_NAME: ./docker/Dockerfile.eval-dashboard
  script:
  - task docker:build_and_push

deploy:docker:workflows-dashboard:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: workflows-dashboard
    DOCKERFILE_NAME: ./docker/Dockerfile.workflows-dashboard
  script:
  - task docker:build_and_push

post:reload-data-exploration:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Data Exploration container."
  ...

post:reload-eval-dashboard:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Dynamic Stats container."
  ...

post:reload-workflows-dashboard:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Workflows container."
  ...

Add min required objs const
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.28
  road_dashboards/__about__.py
Due: none

Merge request code review changes, move side bar to be at the top
  road_dashboards/workflows_dashboard/components/charts/charts_container.py
  road_dashboards/workflows_dashboard/components/filters/__init__.py
  road_dashboards/workflows_dashboard/components/filters/brain_selector.py
  road_dashboards/workflows_dashboard/components/filters/callbacks.py
  road_dashboards/workflows_dashboard/components/filters/date_range.py
  road_dashboards/workflows_dashboard/components/filters/layout.py
  road_dashboards/workflows_dashboard/components/main_content/layout.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_constants.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
  road_dashboards/workflows_dashboard/components/sidebar/__init__.py
  road_dashboards/workflows_dashboard/components/sidebar/layout.py
  road_dashboards/workflows_dashboard/core_settings/constants.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
  road_dashboards/workflows_dashboard/pages/home_page/layout.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

more spacing at the export additional column and error pie hover shows the full message now instead of truncated
  road_dashboards/workflows_dashboard/components/charts/error_pie.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

pyfix
  road_dashboards/workflows_dashboard/components/charts/charts_container.py
  road_dashboards/workflows_dashboard/components/filters/__init__.py
  road_dashboards/workflows_dashboard/components/filters/brain_selector.py
  road_dashboards/workflows_dashboard/components/filters/callbacks.py
  road_dashboards/workflows_dashboard/components/filters/date_range.py
  road_dashboards/workflows_dashboard/components/filters/layout.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_constants.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
  road_dashboards/workflows_dashboard/pages/home_page/layout.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Add lane width metadata
  road_dashboards/road_dump_dashboard/table_schemes/meta_data.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.29
  road_dashboards/__about__.py
Due: none

fix update_chosen_net_data bug
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.30
  road_dashboards/__about__.py
Due: none

Version bump to 0.2.31
  road_dashboards/__about__.py
Due: none

add export preview modal
  road_dashboards/workflows_dashboard/components/layout_wrapper.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_constants.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

catalog table formating numbers and alignment
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

workflow log table setting column width
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/workflow_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

changed in-lane accuracy graph sliders to be range-sliders
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/dcc_stores.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

python format + ruff ~=0.9.1
  hatch.toml
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/conf_mat_graph.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/count_graph.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
  road_dashboards/road_eval_dashboard/components/common_filters.py
  road_dashboards/road_eval_dashboard/graphs/confusion_matrix.py
  road_dashboards/road_eval_dashboard/graphs/path_net_line_graph.py
  road_dashboards/road_eval_dashboard/pages/rem_page/utils.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.32
  road_dashboards/__about__.py
Due: none

fix extract unique events - added default ref_re_threshold value.
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.33
  road_dashboards/__about__.py
Due: none

ruff fix
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/conf_mat_graph.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/count_graph.py
  road_dashboards/road_dump_dashboard/table_schemes/scenes.py
  road_dashboards/road_eval_dashboard/components/common_filters.py
  road_dashboards/road_eval_dashboard/graphs/confusion_matrix.py
  road_dashboards/road_eval_dashboard/graphs/path_net_line_graph.py
  road_dashboards/road_eval_dashboard/pages/rem_page/utils.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

changed column width to width: % format
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/workflow_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

ruff fix
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/workflow_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.34
  road_dashboards/__about__.py
Due: none

code review minor changes
  road_dashboards/workflows_dashboard/components/charts/error_pie.py
  road_dashboards/workflows_dashboard/components/charts/status_pie.py
  road_dashboards/workflows_dashboard/components/charts/weekly_success.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

refresh data once a day
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Add @override and more colors in case the number of brains increases
  road_dashboards/workflows_dashboard/components/charts/error_pie.py
  road_dashboards/workflows_dashboard/components/charts/status_pie.py
  road_dashboards/workflows_dashboard/components/charts/workflow_success_count.py
  road_dashboards/workflows_dashboard/utils/chart_utils.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.35
  road_dashboards/__about__.py
Due: none

fix names
  road_dashboards/road_eval_dashboard/components/confusion_matrices_layout.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

remove unused param.
  road_dashboards/road_eval_dashboard/components/confusion_matrices_layout.py
  road_dashboards/road_eval_dashboard/pages/scene_page.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.36
  road_dashboards/__about__.py
Due: none

Add successes to workflow pie
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/workflow_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Remove batch_num from base table
  road_dashboards/road_dump_dashboard/table_schemes/base.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

drop_successes = False by default
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/workflow_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Fix scenes page
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_pie.py
  road_dashboards/road_dump_dashboard/table_schemes/base.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Increase memort for workflows dashboard
  .gitlab-ci.yml
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/scenes_pie.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Add upload split btn
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/boosting_control.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.37
  road_dashboards/__about__.py
Due: none

Add filter not completed datasets button
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.38
  road_dashboards/__about__.py
Due: none

minor change
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.39
  road_dashboards/__about__.py
Due: none

Path conditions:
  deploy:docker:data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  deploy:docker:eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  deploy:docker:workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
  post:reload-data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  post:reload-eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  post:reload-workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
