Repository mbd2001/road-dashboards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Path conditions:
  deploy:docker:data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  deploy:docker:eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  deploy:docker:workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
  post:reload-data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  post:reload-eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  post:reload-workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard

add refresh data button
  road_dashboards/workflows_dashboard/components/filters/callbacks.py
  road_dashboards/workflows_dashboard/components/filters/layout.py
  road_dashboards/workflows_dashboard/core_settings/constants.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

export refresh button to variable
  road_dashboards/workflows_dashboard/components/filters/layout.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.40
  road_dashboards/__about__.py
Due: none

fix dashborad bug
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/roles_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.41
  road_dashboards/__about__.py
Due: none

Refactor of dp quality tab. change threshold from -3-3 to 0 - 1 where 0.5 is the default instead of 0. which mean in maffe the predictions need to go through sigmoid before being sent
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/net_properties.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/boundaries_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/colors.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Fix Metrics calculations. and made the DPQualityQueryConfig fields more logical
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Move quality functions and configs to separate files
  road_dashboards/road_eval_dashboard/components/net_properties.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/boundaries_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/distances.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_functions.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.42
  road_dashboards/__about__.py
Due: none

update roles, multi-inputs tabs
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/multi_input_decoder_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/roles_tab.py
  road_dashboards/road_eval_dashboard/utils/url_state_utils.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.43
  road_dashboards/__about__.py
Due: none

Optimize dp quality tab
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_functions.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
Due: deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-eval-dashboard, post:reload-workflows-dashboard

change metrics names convention
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_functions.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.44
  road_dashboards/__about__.py
Due: none

small fix
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/boundaries_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.45
  road_dashboards/__about__.py
Due: none

limit dash as API is changed in 3.0.0 to app.run (instead of app.run_server)
  road_dashboards/road_dump_dashboard/requirements.txt
  road_dashboards/road_eval_dashboard/requirements.txt
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.46
  road_dashboards/__about__.py
Due: none

Add view range histogram
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

convert quality view range to line graph instead of histogram
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_functions.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

change quality col name to probs isntead of score
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.47
  road_dashboards/__about__.py
Due: none

add rpw meta to scheme
  road_dashboards/road_dump_dashboard/table_schemes/meta_data.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.48
  road_dashboards/__about__.py
Due: none

Boundaries type metrics
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/confusion_matrices_layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/boundaries_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/roles_tab.py
  road_dashboards/road_eval_dashboard/utils/consts.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.49
  road_dashboards/__about__.py
Due: none

change workflow name formatting
  road_dashboards/workflows_dashboard/common/utils.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

move from dynamoDb to postgresql
  rattler.recipe/recipe.yaml
  road_dashboards/workflows_dashboard/analytics_manager.py
  road_dashboards/workflows_dashboard/common/__init__.py
  road_dashboards/workflows_dashboard/common/analytics.py
  road_dashboards/workflows_dashboard/common/config.py
  road_dashboards/workflows_dashboard/common/consts.py
  road_dashboards/workflows_dashboard/common/utils.py
  road_dashboards/workflows_dashboard/components/base/chart.py
  road_dashboards/workflows_dashboard/components/base/pie_chart.py
  road_dashboards/workflows_dashboard/components/charts/charts_container.py
  road_dashboards/workflows_dashboard/components/charts/error_pie.py
  road_dashboards/workflows_dashboard/components/charts/status_pie.py
  road_dashboards/workflows_dashboard/components/charts/weekly_success.py
  road_dashboards/workflows_dashboard/components/charts/workflow_success_count.py
  road_dashboards/workflows_dashboard/components/filters/brain_selector.py
  road_dashboards/workflows_dashboard/components/filters/callbacks.py
  road_dashboards/workflows_dashboard/components/filters/date_range.py
  road_dashboards/workflows_dashboard/components/filters/layout.py
  road_dashboards/workflows_dashboard/components/layout_wrapper.py
  road_dashboards/workflows_dashboard/components/selectors/export/callbacks.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_constants.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
  road_dashboards/workflows_dashboard/components/selectors/workflow_selector.py
  road_dashboards/workflows_dashboard/core_settings/constants.py
  road_dashboards/workflows_dashboard/database/__init__.py
  road_dashboards/workflows_dashboard/database/workflow_manager.py
  road_dashboards/workflows_dashboard/pages/home_page/callbacks.py
  road_dashboards/workflows_dashboard/pages/home_page/layout.py
  road_dashboards/workflows_dashboard/utils/chart_utils.py
  road_dashboards/workflows_dashboard/utils/formatting.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

update import based on road_database_toolkit PostgresConfig change
  road_dashboards/workflows_dashboard/analytics_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

road-database-toolkit version
  rattler.recipe/recipe.yaml
Due: none

Version bump to 0.2.50
  road_dashboards/__about__.py
Due: none

add to workflows requirements.txt
  rattler.recipe/recipe.yaml
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.51
  road_dashboards/__about__.py
Due: none

version
  rattler.recipe/recipe.yaml
Due: none

Version bump to 0.2.52
  road_dashboards/__about__.py
Due: none

psycopg2-binary
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

version update
  rattler.recipe/recipe.yaml
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.53
  road_dashboards/__about__.py
Due: none

add role events extractor
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.54
  road_dashboards/__about__.py
Due: none
