Repository mbd2001/road-dashboards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Path conditions:
  deploy:docker:data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  deploy:docker:eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  deploy:docker:workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
  post:reload-data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  post:reload-eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  post:reload-workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard

Extract roles events
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.55
  road_dashboards/__about__.py
Due: none

Adding mexsense btn
  rattler.recipe/recipe.yaml
  road_dashboards/road_eval_dashboard/app.py
  road_dashboards/road_eval_dashboard/components/catalog_table.py
  road_dashboards/road_eval_dashboard/components/components_ids.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

py:fix
  road_dashboards/road_eval_dashboard/components/catalog_table.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

update python version
  rattler.recipe/recipe.yaml
Due: none

small fix
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

update env
  rattler.recipe/recipe.yaml
Due: none

Version bump to 0.2.56
  road_dashboards/__about__.py
Due: none

Version bump to 0.2.57
  road_dashboards/__about__.py
Due: none

use pixi to create containers for all apps, adapt requirements to env.yaml and use multi-stage docker build
  docker/Dockerfile.data-exploration
  docker/Dockerfile.eval-dashboard
  docker/Dockerfile.workflows-dashboard
  docker/docker.tasks.yml
  road_dashboards/road_dump_dashboard/env.yaml
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
  road_dashboards/road_dump_dashboard/requirements.txt
  road_dashboards/road_eval_dashboard/env.yaml
  road_dashboards/road_eval_dashboard/requirements.txt
  road_dashboards/workflows_dashboard/env.yaml
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

add pixi to dashboards
  .gitattributes
  .gitignore
  .gitlab-ci.yml
  Taskfile.yml
  boa.recipe/recipe.yaml
  pixi.lock
  pyproject.toml
  rattler.recipe/create_env_yaml_from_recipe.py
  rattler.recipe/dev.env.yml
  rattler.recipe/recipe.yaml
Due: none

linting
  .auth/.setup_auth.sh
  .gitlab-ci.yml
  .pre-commit-config.yaml
  MANIFEST.in
  Taskfile.yml
  docker/docker.tasks.yml
  docs/extra/refresh_on_toggle_dark_light.js
  hatch.toml
  mkdocs.yml
  pyproject.toml
  road_dashboards/road_dump_dashboard/assets/custom.geo.json
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/population_card.py
  road_dashboards/road_dump_dashboard/requirements.txt
  road_dashboards/road_eval_dashboard/assets/custom.geo.json
  road_dashboards/road_eval_dashboard/assets/style.css
  road_dashboards/road_eval_dashboard/components/catalog_table.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/pathnet_filters/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/boundaries_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/positional_tab.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/roles_tab.py
  road_dashboards/road_eval_dashboard/pages/rem_page/tabs/falses/queries.py
  road_dashboards/road_eval_dashboard/requirements.txt
  road_dashboards/workflows_dashboard/components/filters/brain_selector.py
  road_dashboards/workflows_dashboard/components/filters/layout.py
  road_dashboards/workflows_dashboard/components/selectors/export/__init__.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
  road_dashboards/workflows_dashboard/pages/home_page/layout.py
  road_dashboards/workflows_dashboard/requirements.txt
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

add extra columns feature.
  road_dashboards/road_eval_dashboard/components/confusion_matrices_layout.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/roles_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.58
  road_dashboards/__about__.py
Due: none

fix envs in pyproject
  pixi.lock
  pyproject.toml
Due: none

add a pixi install locked test to make sure pixi.lock is up to date so containers wont break
  .gitlab-ci.yml
Due: none

add columns to all of the jumps
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/callbacks.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.59
  road_dashboards/__about__.py
Due: none

CR - add reason to noqa
  road_dashboards/road_eval_dashboard/components/pathnet_events_extractor/layout.py
  road_dashboards/road_eval_dashboard/components/pathnet_filters/layout.py
  road_dashboards/road_eval_dashboard/pages/card_generators/__init__.py
  road_dashboards/workflows_dashboard/components/filters/layout.py
  road_dashboards/workflows_dashboard/components/selectors/export/export_section.py
  road_dashboards/workflows_dashboard/pages/home_page/layout.py
Due: deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.60
  road_dashboards/__about__.py
Due: none

align dockerfiles with pixi envs, add dockerignore, fix mkdocs not using pixi and add unused imports in linting
  .dockerignore
  .gitlab-ci.yml
  docker/Dockerfile.data-exploration
  docker/Dockerfile.eval-dashboard
  docker/Dockerfile.workflows-dashboard
  pyproject.toml
  road_dashboards/road_dump_dashboard/env.yaml
  road_dashboards/road_eval_dashboard/env.yaml
  road_dashboards/workflows_dashboard/env.yaml
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.61
  road_dashboards/__about__.py
Due: none

set buildkit to 1
  .gitlab-ci.yml
Due: none

Version bump to 0.2.62
  road_dashboards/__about__.py
Due: none

add tasks + fixes
  docker/Dockerfile.data-exploration
  docker/Dockerfile.eval-dashboard
  docker/Dockerfile.workflows-dashboard
  pixi.lock
  pyproject.toml
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

add dedicated docker build for each image
  docker/docker.tasks.yml
Due: none

Version bump to 0.2.63
  road_dashboards/__about__.py
Due: none

group shared commands between deploy nodes
  .gitlab-ci.yml
Due: none

Version bump to 0.2.64
  road_dashboards/__about__.py
Due: none

Adding mexsense link with filters
  pixi.lock
  pyproject.toml
  road_dashboards/road_dump_dashboard/app.py
  road_dashboards/road_dump_dashboard/logical_components/constants/components_ids.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/data_filters.py
  road_dashboards/road_dump_dashboard/logical_components/mexsense_link.py
  road_dashboards/road_eval_dashboard/components/catalog_table.py
  road_dashboards/road_eval_dashboard/components/dcc_stores.py
  road_dashboards/road_eval_dashboard/components/meta_data_filter.py
  road_dashboards/road_eval_dashboard/components/mexsense_link.py
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, post:reload-data-exploration, post:reload-eval-dashboard

Delete comments
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/data_filters.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

delete comment
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

'compile' fixes
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/meta_data_filter.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.65
  road_dashboards/__about__.py
Due: none

remove BUILDKIT 0
  .gitlab-ci.yml
  docker/Dockerfile.data-exploration
  docker/Dockerfile.eval-dashboard
  docker/Dockerfile.workflows-dashboard
  docker/docker.tasks.yml
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.66
  road_dashboards/__about__.py
Due: none

Disable suffle service code
  pixi.lock
  pyproject.toml
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/data_filters.py
  road_dashboards/road_eval_dashboard/components/catalog_table.py
  road_dashboards/road_eval_dashboard/components/meta_data_filter.py
  road_dashboards/road_eval_dashboard/components/mexsense_link.py
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, post:reload-data-exploration, post:reload-eval-dashboard

Version bump to 0.2.67
  road_dashboards/__about__.py
Due: none

Disable get_shuffle_path
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/catalog_table.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.68
  road_dashboards/__about__.py
Due: none
