Repository mbd2001/road-dashboards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

deploy:docker:data-exploration:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: road-data-exploration
    DOCKERFILE_NAME: ./docker/Dockerfile.data-exploration
  script:
  - task docker:build_and_push

deploy:docker:eval-dashboard:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: road-eval-dashboard
    DOCKERFILE_NAME: ./docker/Dockerfile.eval-dashboard
  script:
  - task docker:build_and_push

deploy:docker:workflows-dashboard:
  stage: deploy
  tags:
  - road-algo-md
  variables:
    DOCKER_BUILDKIT: '0'
    IMAGE_NAME: workflows-dashboard
    DOCKERFILE_NAME: ./docker/Dockerfile.workflows-dashboard
  script:
  - task docker:build_and_push

post:reload-data-exploration:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Data Exploration container."
  ...

post:reload-eval-dashboard:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Dynamic Stats container."
  ...

post:reload-workflows-dashboard:
  stage: post
  tags:
  - road-algo-sm
  script:
  - echo "Reloading the Workflows container."
  ...

add additional boundaries classes to eval
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/boundaries_tab.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

fix conf_mat_query error - botocore.errorfactory.InvalidRequestException: An...
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.69
  road_dashboards/__about__.py
Due: none

Updated the quality stats to be like the way its trained and added hover information
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/pages/pathnet_page/tabs/quality_tab.py
  road_dashboards/road_eval_dashboard/utils/quality/quality_config.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.70
  road_dashboards/__about__.py
Due: none

fix missing f-string in query
  road_dashboards/road_eval_dashboard/components/queries_manager.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.71
  road_dashboards/__about__.py
Due: none

Version bump to 0.2.72
  road_dashboards/__about__.py
Due: none

scene_signals - 1. unite mest and net, 2. fix warnings 3. remove score graph
  road_dashboards/road_eval_dashboard/components/components_ids.py
  road_dashboards/road_eval_dashboard/components/queries_manager.py
  road_dashboards/road_eval_dashboard/graphs/confusion_matrix.py
  road_dashboards/road_eval_dashboard/graphs/roc_curve.py
  road_dashboards/road_eval_dashboard/pages/scene_page.py
  road_dashboards/road_eval_dashboard/utils/calculations.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.73
  road_dashboards/__about__.py
Due: none

fix_odd_scene_signals_display
  road_dashboards/road_eval_dashboard/pages/scene_page.py
Due: deploy:docker:eval-dashboard, post:reload-eval-dashboard

Version bump to 0.2.74
  road_dashboards/__about__.py
Due: none

new runners
  .gitlab-ci.yml
Due: none

Version bump to 0.2.75
  road_dashboards/__about__.py
Due: none

add meta creation
  pixi.lock
  pyproject.toml
  road_dashboards/workflows_dashboard/analytics_manager.py
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.76
  road_dashboards/__about__.py
Due: none

Added input box for jump file name, adjusted layout and margins, and moved input below dropdown in JumpModal.
  road_dashboards/road_dump_dashboard/logical_components/grid_objects/jump_modal.py
Due: deploy:docker:data-exploration, post:reload-data-exploration

Version bump to 0.2.77
  road_dashboards/__about__.py
Due: none

try1
  .gitlab-ci.yml
  docker/Dockerfile.workflows-dashboard
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.78
  road_dashboards/__about__.py
Due: none

try1
  .gitlab-ci.yml
Due: none

fix
  docker/Dockerfile.workflows-dashboard
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.79
  road_dashboards/__about__.py
Due: none

Version bump to 0.2.80
  road_dashboards/__about__.py
Due: none

fix
  .gitlab-ci.yml
  docker/Dockerfile.workflows-dashboard
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.81
  road_dashboards/__about__.py
Due: none

WIP
  .gitlab-ci.yml
  docker/Dockerfile.workflows-dashboard
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.82
  road_dashboards/__about__.py
Due: none

WIP
  .gitlab-ci.yml
Due: none

Version bump to 0.2.83
  road_dashboards/__about__.py
Due: none

WIP
  docker/Dockerfile.workflows-dashboard
Due: deploy:docker:workflows-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.84
  road_dashboards/__about__.py
Due: none

fix pipeline
  .gitlab-ci.yml
  docker/Dockerfile.data-exploration
  docker/Dockerfile.eval-dashboard
  docker/Dockerfile.workflows-dashboard
Due: deploy:docker:data-exploration, deploy:docker:eval-dashboard, deploy:docker:workflows-dashboard, post:reload-data-exploration, post:reload-eval-dashboard, post:reload-workflows-dashboard

Version bump to 0.2.85
  road_dashboards/__about__.py
Due: none

Path conditions:
  deploy:docker:data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  deploy:docker:eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  deploy:docker:workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
  post:reload-data-exploration: any of: road_dashboards/road_dump_dashboard/**/*, docker/Dockerfile.data-exploration
  post:reload-eval-dashboard: any of: road_dashboards/road_eval_dashboard/**/*, docker/Dockerfile.eval-dashboard
  post:reload-workflows-dashboard: any of: road_dashboards/workflows_dashboard/**/*, docker/Dockerfile.workflows-dashboard
